# Auto detect text files and perform LF normalization
* text=auto

# Specific file types
*.js text eol=crlf
*.jsx text eol=crlf
*.ts text eol=crlf
*.tsx text eol=crlf
*.css text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.html text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.pdf binary
